<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link href="//cdn.muicss.com/mui-0.9.18/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-xs-12 mui-col-md-6">
        <div class="mui-appbar"></div>
        {{{body}}}
      </div>
    </div>
  </div>
</body>
</html>
